@import "tailwindcss";

@theme {
    --color-primary: #f27d25;
    --color-primary-hover: #f88631;
    --color-bg-secondary: #fdf9e9;

    --color-white: #fffffd;
}

@font-face {
  font-family:"arizona";
  src:url(/fonts/arizona_flare.woff) format("woff");
  font-display:swap;
  font-weight:400;
  font-style:normal
}

@font-face {
  font-family:"arizona";
  src:url(/fonts/arizona_flare_thin.woff) format("woff");
  font-display:swap;
  font-weight:300;
  font-style:normal
}

@font-face {
    font-family:"figtree";
    src:url(/fonts/Figtree-VariableFont_wght.ttf) format("truetype");
}

.font-arizona {
    font-family:"arizona", sans-serif;
    font-weight: 300;
    letter-spacing: -0.05em;
}

.font-figtree {
    font-family:"figtree", sans-serif;
    @apply tracking-wider text-xl;
}

* {
    @apply font-[figtree];
}

body {
    /* @apply bg-white; */
    @apply absolute inset-0 size-full bg-[url("assets/noise.png")] w-[100vw] overflow-x-hidden;
}

.primary-cta {
    @apply rounded-full bg-primary text-white font-medium px-6 py-3 hover:bg-primary-hover hover:cursor-pointer;
}
